.SmallText {
    font-size: 0.5em;
}

.reveal section.divide {

}

.reveal .west {
    /*position: fixed;
    top: 50%;
   */

    width: 50%;
    float: left;
}

.reveal .east {
    width: 50%;
    float: right;

/*    position: fixed;
    top: 50%;
    right: 10%; */
}
